# Initialize $PATH with system and user binaries.
export PATH="$PATH:$HOME/.composer/vendor/bin:$HOME/.npm-global/bin:$HOME/.cargo/bin:$HOME/.gem/bin:$HOME/.local/bin"

# Locale.
export LANG="en_US.UTF-8"
export LANGUAGE="en_US.UTF-8"

# Term.
export TERM="xterm-256color"

# Default Editor.
export EDITOR="vim"

# Default Pager.
export PAGER="less"

# Zsh.
if [ "$(ps -p $$ -ocomm=)" = "zsh" ]; then
    # Oh My Zsh.
    export ZSH="/usr/share/oh-my-zsh"
    # Set a character at the end of partial lines to none.
    export PROMPT_EOL_MARK=""
    # History settings.
    export HISTORY_IGNORE="([bf]g|c|clear|e|exit|h|history|incognito|l|l[adfls]|pwd|z)"
fi

# Bash.
if [ "$(ps -p $$ -ocomm=)" = "bash" ]; then
    # History settings.
    export HISTTIMEFORMAT="%F %T "
    export HISTCONTROL=ignoredups
    export HISTIGNORE="[bf]g:c:clear:e:exit:h:history:incognito:l:l[adfls]:pwd"
    export HISTSIZE=10000
    # Save and reload the history after each command finishes in another bash session.
    export PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"
fi

# bat.
export BAT_THEME="Material-Theme-Darker"

# fzf.
export FZF_DEFAULT_OPTS=" \
    --color=fg:#c0c5ce,bg:#212121,hl:#808080,fg+:#e6e6e6,bg+:#3b3b3b,hl+:#f7c662 \
    --color=info:#f7c662,prompt:#6699cc,pointer:#a6bc69,marker:#a6bc69,spinner:#f7c662,header:#6699cc"

# nnn.
export NNN_BMS="d:~/Downloads;D:~/Documents;t:~/Temporary" # Bookmarks
export NNN_PLUG="D:mediainf" # Plugins
export NNN_TRASH=1 # Trash instead of delete the files

# ripgrep.
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

# Less.
export LESS="--RAW-CONTROL-CHARS"
export LESS_TERMCAP_mb=$'\e[1;31m' # Start blinking
export LESS_TERMCAP_md=$'\e[1;34m' # Start bold mode
export LESS_TERMCAP_me=$'\e[0m' # End all mode
export LESS_TERMCAP_so=$'\e[38;5;215m' # Start standout mode
export LESS_TERMCAP_se=$'\e[0m' # End standout mode
export LESS_TERMCAP_us=$'\e[4;35m' # Start underline
export LESS_TERMCAP_ue=$'\e[0m' # End underline'
export LESS=-R

# Proxy
# export HTTP_PROXY=http://127.0.0.1:8889
# export HTTPS_PROXY=http://127.0.0.1:8889
# export ALL_PROXY=socks5://127.0.0.1:1089

# Nvm
[ -z "$NVM_DIR" ] && export NVM_DIR="$HOME/.nvm"
source /usr/share/nvm/nvm.sh
source /usr/share/nvm/bash_completion
source /usr/share/nvm/install-nvm-exec

export NVM_NODEJS_ORG_MIRROR=https://mirrors.ustc.edu.cn/node/
# export NVM_NODEJS_ORG_MIRROR=http://npm.taobao.org/mirrors/node
export NVM_IOJS_ORG_MIRROR=http://npm.taobao.org/mirrors/iojs
export NVMW_NPM_MIRROR=http://npm.taobao.org/mirrors/npm
export ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/
export ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/
export SASS_BINARY_SITE=http://npm.taobao.org/mirrors/node-sass
export PYTHON_MIRROR=http://npm.taobao.org/mirrors/python

# maven
#export MAVEN_OPTS=-Xmx1g
#export M2_HOME=/opt/maven
#export PATH=$PATH:$M2_HOME/bin

# gradle
export GRADLE_HOME=/usr/share/java/gradle

# java14
export JAVA_HOME=/usr/lib/jvm/java-14-jdk/bin/java

# java8
export JAVA8_HOME=/usr/lib/jvm/java-8-jdk/bin/java
